html {
    height: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
}

#header_bar {
    width: 100%;
    height: 40px;
    background: url(../images/header_bar.png) repeat-x;
}

#container {
    width: 100%;
    height: 100%;
}

#map_canvas {
    margin-right: 300px;
    height: 100%;
}

#rightcol {
    float: right;
    width: 300px;
    height: 100%;
    background-color: khaki;
}

#rightcol .box {
    margin: 5px;
    width: 290px;
}

#rightcol .box .header {
    height: 40px;
    background-color: darkkhaki;
}

#rightcol .box .header:hover {
    height: 40px;
    background-color: brown;
}

#rightcol .box .content {
    height: 100px;
    background-color: white;
}

#rightcol #txt_keyword {
    width: 244px;
}

#rightcol #btn_search {
    width: 50px;
    background-color: darkkhaki;
}

#rightcol #btn_search:hover {
    width: 50px;
    background-color: brown;
}